@import "variables";
h2{
    margin-top: 170px;
    text-align: center;
}
main{
    nav{  
        p{
        color: $Color_texto;
        }
    }
  
}
.CuadroContacto{
    display:grid;
    justify-content:center;
    align-items:center;
}
.FormularioContacto{
    margin-top: 6px;
}
.ContactoH2{
    @extend .CuadroContacto;
}


#boton-carrito {
    margin-left: 9px;
    border: none;
    color: rgb(114, 127, 167);
    font-size: 15px;
    background-color: white;
    border-radius: 50%;
    padding: 10px 20px;
    transition: all .3s;
}
#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: royalblue;
}
#boton-carrito:focus {
    outline: none;
}




.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: royalblue;
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: royalblue;
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid rgb(128, 138, 170);
}

.boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}



.RedesSocialesContacto{
    @extend .CuadroContacto;
    margin-top: 30px;
    li{
        text-decoration: none;
    }
}
.FotosComprar{

    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
    justify-items: stretch;
    justify-content:space-around ;
    align-items: center;
    display: grid;
    grid-template-columns: 360px 360px 360px 360px ;
    grid-column-gap:50px ;
    grid-template-rows: 450px 450px 450px;
    grid: row gap 5px ;
    img{
        max-width: 80%;
    }
}
img{
    transition: 0.5s;
}
.FotosComprar img:hover{
    transform:scale(1.5)

}
.TituloComprar{
    font-size: xx-large;
}
.Slogan{
    margin-top: 250px;
    font-size: x-large; 
    margin-left: 10px;
}
.btn{
    margin-left: 10px;
}
.BodyIndex{
    background-color: $Color_fondo;
}
.BodyMenu{
    display:inline; 
    padding: 0px;
    margin-right: 70px;
        a{
        font-size:x-large;
    }
}
body{
    background-color: $Color_fondo;
}
main{
    margin-top: 150px;
} 
.InfoImportante{
    div{
        text-align: center;
        font-size: larger;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
    }
    h5{
        margin-top: 15%;
        text-align: center;
    }
    h6{
        text-align: center;
    }
    .letrachica{
        font-size:smaller;
    }
}
.NavFotoLibro{
    position: relative;
    left: 2rem ;
    top: -2rem;
}